<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.nathanf.chatthread">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="tk.nathanf.chatthread.activities.PreviewImage" />
    </application>
</manifest>
